@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Jesteśmy jednym z najlepszych dostawców zabawek dla dzieci w Polsce!!! 
   Możemy się pochwalić asortymentem o różnych parametrach</p>
